<div class="main-div">
  @if (isBoundingBoxSelected) {
  <div class="control-panel">
    <button (click)="updateTransformMode('translate')">
      Translate Bounding Box
    </button>
    <button (click)="updateTransformMode('rotate')">
      Rotate Bounding Box
    </button>
    <button (click)="updateTransformMode('scale')">Scale Bounding Box</button>
  </div>
  }
  <div class="controls">
    <button class="add-box" [ngClass]="{'red': isAddingCube}" (click)="toogleAddButton()">
      {{ !isAddingCube ? 'Add bounding box' :'double click to drop'}}
    </button>
  </div>
  <div #rendererContainer id="rendererContainer"></div>
</div>