<div class="main-div">
  @if (isBoundingBoxSelected) {
  <div class="control-panel">
    <button (click)="updateTransformMode('translate')">
      Translate Bounding Box
    </button>
    <button (click)="updateTransformMode('rotate')">
      Rotate Bounding Box
    </button>
    <button (click)="updateTransformMode('scale')">Scale Bounding Box</button>
  </div>
  }
  <div class="controls">
    <button class="add-box" [ngClass]="{'red': isAddingCube}" (click)="toogleAddButton()">
      {{ !isAddingCube ? 'Add bounding box' :'double click to drop'}}
    </button>
    <div class="model-selector">
      <select [value]="selectedModel?.name ?? ''" (change)="onModelSelect($event)">
        <option value="" selected disabled>{{ !isAddingModel ? 'Add Model' :'double click to drop'}}</option>
        <option *ngFor="let model of objModelsData" [value]="model?.name">
          {{ model?.name }}
        </option>
      </select>
    </div>
  </div>
  <div #rendererContainer id="rendererContainer"></div>
</div>